<div class="row">    
	<div class="eight columns push-four whitepage">
		<h3>Nyeste spørgsmål</h3>
		<ul id="questions">
			<%= render :partial => 'question', :collection => @questions, :spacer_template => 'spacer_template' %>
		</ul>
		
		<%= will_paginate @questions %>
    </div>

   	<%= render :partial => 'navigator' %>
</div>