<div class="row">
    <div class="eight columns push-four hide-for-small" id="map" style="height:495px;">
		<%= javascript_tag do %>
			$(function() {
				init_map(0, 0)
			});
		<% end %>
    </div>

    <div class="four columns pull-eight">
      <ul class="vertical tabs">
		<%=render @cities%>
      </ul>
    </div>
</div>