<div class="row">
  <div class="large-12 columns">
    <div class="panel whitepage margin-top15">
		<h2>Log ind</h2>
		<p>Når du logger på, så har du muligheden for at bedømme alle Vandpibe Caferne og deltag i vores Forum.<p>
			<p><%= link_to "Login via Facebook", "/auth/facebook", :class => "button" %></p>
	</div>
  </div>
</div>