<div class="row">
    <div class="eight columns push-four hide-for-small" id="map" style="height:495px;">
		<%= javascript_tag do %>
			$(function() {
				init_map(0, 0)
			});
		<% end %>
    </div>

    <div class="four columns pull-eight">
      <ul class="vertical tabs">
		<%=render @cities.where(:visible => true)%>
      </ul>
    </div>
</div>

<div class="row">
	<div class="twelve columns text-center">
		<h4><small>Hos Vandpibe Cafe kan du se oversigt over alle Vandpibe Cafeer i hele Danmark. Du kan også gå ind på Debat sektion og være med til at hjælpe andre eller stille et spørgsmål omkring Vandpibe Tobak, Vandpibe Shop, Vandpibe Tilbehør eller andet. Vi har besøgt de fleste Vandpibe Cafeer i Danmrk og derfor har vi lavet en liste af de bedste Vandpibe Steder. </small></h5>
	</div>
</div>
