/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */

$directions: top right bottom left;
$sizes: 5 10 15 20 25 30;
$types: margin padding;

@each $type in $types {
	@each $pixel in $sizes {
		.#{$type}#{$pixel} {
			#{$type}: #{$pixel}px;
		}
	}
}

@each $type in $types {
	@each $direction in $directions {
		@each $pixel in $sizes {
			.#{$type}-#{$direction}#{$pixel} {
				#{$type}-#{$direction}: #{$pixel}px;
			}
		}
	}
}

.no-padding {padding:0;}
.no-margin{margin:0;}
.hundred-procent {width:100%;}
.display-block {display:block;}
li { list-style: none; }

.display-block { display:block; }

.float-left { float:left;}
.float-right {float:right;}
.overflow-hidden {overflow: hidden;}

.white-background {background-color: #FFFFFF; }
.black-background { background-color: #000; }
.grey-background { background-color: #f9f9f9;}
.blue-background {background-color: #3085d6}

.white-color {color: #FFF;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.strong {font-weight: bold;}
.font-size20 {font-size: 1.2em;}

.display-block {display: block;}
.border-bottom {border-bottom:1px solid #CCC;}
.border-top {border-top: 1px solid #CCC;}

.extend {
	width: 100%;
}

footer {
	background-color: #000;
	color: #FFF;
	line-height: 20px;
	padding: 10px 0px 20px 0px;

	.copyright {
		font-size: .7em;
	}

}

footer.background {
	background: #000 url('/assets/footer-background.png') bottom repeat-x;
}

.navigation {
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #f7f7f7), color-stop(100%, #e2e2e2));
	background-image: -webkit-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: -moz-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: -o-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	border-bottom: 1px solid #ccc;
	clear: both;
	padding: 15px 0px 15px 0px;

	ul.sections {
		margin: 10px 0px 0px 0px;

		li {
			display: inline-block;
			list-style: none;
			text-align: center;
			vertical-align: middle;

			a {
				color: #000;
			}

			p {
				font-size: .6em;
				color: #57585c;
				width: 92px;
				padding: 0; margin: 0;
			}

			div	{
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(50%, #aaaaaa), color-stop(100%, #e2e2e2));
				background-image: -webkit-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: -moz-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: -o-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				-webkit-box-shadow: 1px 0 2px #fff;
				-moz-box-shadow: 1px 0 2px #fff;
				box-shadow: 1px 0 2px #fff;
				width: 1px;
				padding: 1.7em 0 0.35em;
				margin: 0.4em 0 0;
				padding: 0.9em 0;
			}
		}
	}

	span[class*="foundicon-"] {
		display: block;
		font-size: 20px;
	}

	.signin {

	}
	
	.login	{
		margin: 15px 0px 10px 0px;
	}
}


ul.city-locations {
	div.left-cell {
		width:30%; 
		height:100%;
		padding:5px;
	}
	div.right-cell {
		background: -moz-linear-gradient(left, #f2f2f2 0%,#fff 5%);
		background: -webkit-linear-gradient(left, #f2f2f2 0%,#fff 5%);
		background: -o-linear-gradient(left, #f2f2f2 0%,#fff 5%);
		background: -ms-linear-gradient(left, #f2f2f2 0%,#fff 5%);
		background: linear-gradient(right, #f2f2f2 0%,#fff 5%); 
		height:100%; 
		width:70%; 
		padding:5px 0px 0px 15px;
	}
}

div.country-list {
	margin-bottom: 40px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.15em;
	text-align: center;
	margin-top: 20px;

	span {
		color: #666;
		padding: 0 1px 4px 1px;
		margin: 0 10px;
		border-bottom: 3px solid transparent;
		outline: none;
	}
}

div.city-list {
	line-height: 40px;

	a {
		display: block;
		-webkit-transition-property: color, background-color;
		-webkit-transition-duration: 0.5s, 0.1s;
		-webkit-transition-timing-function: ease-out, linear;
		white-space: nowrap;
		font-weight: 300;
		font-size: 13px;
		padding: 4px 10px;
		color: #FFF;
		background: transparent;
		margin: 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}

	a:hover {
		font-weight: 600;
		background: #eee;
	}
}