<div class="row">
  <div class="twelve columns centered">
    <div class="panel whitepage">
		<h2>Log ind</h2>
		<p>Når du opretter dig så kan du stille spørgsmål under <%= link_to "debat", questions_path %>, du kan også kommentarer og bedømme de forskellige <%= link_to "vandpibe cafeer", root_path %> rundt i Danmark.<p>
			<p><%= link_to "Login via Facebook", "/auth/facebook", :class => "button" %></p>
	</div>
  </div>
</div>