<form action="/admin/uploads/new" class="button_to" method="get"><div><input type="submit" value="Upload file" /><input type="hidden" id="uploadable_id" name="uploadable_id" value="<%=@location.id%>"><input type="hidden" id="uploadable_type" name="uploadable_type" value="Location"></div></form>
