DOCTYPE html

/[if IE 8]
  <html class="no-js lt-ie9" lang="en">

/[if gt IE 8]
  <html lang="da">

head
  meta charset="utf-8"
  meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" 
  = render '/layouts/header'
  = stylesheet_link_tag    "icons/general_foundicons.css" 
  = stylesheet_link_tag 'mobile/application' 
  = javascript_include_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"

  = render '/layouts/google'
  = csrf_meta_tags 

body id="#{params[:controller]}"

  = render '/layouts/navbar'

  - if flash[:notice]
    div class="row"
      div class="twelve columns"
        div class="alert-box success"
          = flash[:notice]
          a href="" class="close"

  div class="#{params[:action]}"
    = yield

  = render '/layouts/footer'

</html>
