<div class="row">
  <div class="twelve columns centered">
    <div class="panel whitepage">
		<h2>Log ind</h2>
		<p>Du skal logge på for at bruge vores service, det gør du ved at bruge din Facebook konto.<br /> Når du logger på kan du kommentarer og bedømme de forskellige <%= link_to "vandpibe cafeer", root_path %> i Danmark.<p>
			<p><%= link_to "Login via Facebook", "/auth/facebook", :class => "button" %></p>
	</div>
  </div>
</div>