<div class="row">
	<div class="twelve columns">	
		<ul class="vertical tabs">
			<%= li_link "Vis nyeste spørgsmål", questions_path %>
			<%=li_link "Vis mest diskuterede", hot_questions_path %>
			<%=li_link "Vis active spørgsmål", recent_questions_path %>
			<%=li_link "Vis ubesvaret spørgsmål", unanswered_questions_path %>
  		</ul>
	</div>
</div>