<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
		<li><a href="/">Start side</a></li>
		<li><%= link_to @city.name.big, city_path(@city.name), :title => "Vandpibe Cafe " + @city.name, :alt => "Vandpibe Cafe " + @city.name.big %></li>
		<li class="current"><%= link_to @location.name.big, "#", :alt => @location.name.big + " Vandpibe Cafe" %></li>
		</ul>
	</div>
</div>