 <div class="row">
  <div class="twelve columns">
    <h3 class="text-center margin-bottom20">Hvor leder du efter en <strong>Vandpibe Cafe?</strong></h3>
    <% @countries.each do |c| %>
		<h4><%=c.name%></h4>
		<%=render :partial => 'city_tags', :collection => c.cities, :as => :city %>
	<% end %>
  </div>
</div>


<div class="row">
  <div class="twelve columns text-center">
    <h4 class="subheader"><small>På <strong>Vandpibe Cafe</strong> får du et oversigt over alle <strong>Vandpibe Cafeer</strong> i Danmark. Du kan deltag i debat omkring <strong>Vandpibe Tobak</strong>, <strong>Vandpibe Salg</strong>, <strong>Vandpibe Tilbehør</strong> eller andet. Vi er begyndt at sælge <strong>Vandpibe Slanger</strong>. Kontakt os for at hør nærmere. </small></h3>
  </div>
 </div>