<div class="row">
  <div class="eight columns">
    <h5 class="subheader">Hos Vandpibe Cafe kan du se oversigt over alle Vandpibe Cafeer i hele Danmark. Du kan også gå ind på Debat sektion og være med til at hjælpe andre eller stille et spørgsmål omkring Vandpibe Tobak, Vandpibe Shop, Vandpibe Tilbehør eller andet. Vi har besøgt de fleste Vandpibe Cafeer i Danmrk og derfor har vi lavet en liste over de bedste Vandpibe Steder.</h5>
  </div>
  <div class="four columns">
    <h4>Oversigt</h4>
    <ul class="vertical tabs">
      <%=render @cities%>
    </ul>
  </div>
</div>
