<footer class="background">
  <div class="row wallpaper">
    <div class="large-3 columns text-center">
      <h4>Århus</h4>
        <ul class="locations">
        <%- City.find_by_url('aarhus').locations.reorder('RAND()').limit(5).each do |location|%>
          <li class="location"><%= link_to location.name.big, city_location_path('århus', location.name.to_url) %></li>
        <%- end %>
      </ul>
    </div>
    <div class="large-3 columns text-center">
      <h4>København</h4>
        <ul class="locations">
        <%- City.find_by_url('københavn').locations.reorder('RAND()').limit(5).each do |location|%>
          <li class="location"><%= link_to location.name.big, city_location_path('københavn', location.name.to_url) %></li>
        <%- end %>
      </ul>
    </div>
    <div class="large-3 columns text-center">
      <h4>Frederiksberg</h4>
        <ul class="locations">
        <%- City.find_by_url('frederiksberg').locations.reorder('RAND()').limit(5).each do |location|%>
          <li class="location"><%= link_to location.name.big, city_location_path('frederiksberg', location.name.to_url) %></li>
        <%- end %>
      </ul>
    </div>
    <div class="large-3 columns text-center">
      <h4>Valby</h4>
        <ul class="locations">
        <%- City.find_by_url('valby').locations.reorder('RAND()').limit(5).each do |location|%>
          <li class="location"><%= link_to location.name.big, city_location_path('valby', location.name.to_url) %></li>
        <%- end %>
      </ul>
    </div>
  </div>

  <div class="row copyright">
    <div class="large-12 columns text-center">
      Copyright 2012 - 2013 VandpibeCafe
    </div>
  </div>
</footer>
