<div class="header">
  <ul class="row">
    <a href="<%=root_url%>">
    <li class="large-4 columns text-center" style="padding:25px 0px 0px 25px">
      <h3>Vandpibe Cafe</h3>
      <p>Stedet der hjælper dig med at finde den<br /> bedste Vandpibe Cafe i din område!<br /><span class="round label margin-top10">www.vandpibecafe.dk</span></p>
    </li>
    </a>
    <li class="large-8 columns">
      <ul>
        <a href="#">
        <li class="large-4 columns box">
          <i class="foundicon-idea" style="color:#FFF;font-size:38px;"></i>
          <h3>Forum</h3>
          <p>Deltag i debatten om alt hvad vedrører Vandpibe?</p>
        </li>
        </a>
        <a href="#">
        <li class="large-4 columns box">
          <i class="foundicon-graph" style="color:#FFF;font-size:38px;"></i>
          <h3>Topliste</h3>
          <p>Find de bedste Vandpibe Cafeer i Danmark!</p>
        </li>
        </a>
        <a href="#">
        <li class="large-4 columns box">
          <i class="foundicon-mail" style="color:#FFF;font-size:38px;"></i>
          <h3>Kontakt</h3>
          <p>Har du spørgsmål på hjertet, så kontakt os?</p>
        </li>
        </a>
      </ul>
    </li>
  </ul>
</div>

<div class="header-down">
  <div class="row">
    <div class="large-12 columns"><%= link_to "Hjem", root_url %></div>
  </div>
</div>