<div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p class="lead">Du bedes logge ind inden du vælger at bruge den handling.</p>
  <p><%= link_to "Login via Facebook", "/auth/facebook" %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
