<div class="row">
    <div class="twelve columns text-center margin-bottom20">
    	<h1>Hvor leder du efter en <strong>Vandpibe Cafe?</strong></h1>
		<%=render :partial => 'city_tags', :collection => @cities, :as => :city %>
    </div>
</div>

<div class="row">
    <div class="twelve columns"><div id="map" style="height:496px;"></div></div>
</div>

<hr />

<div class="row">
	<div class="twelve columns">
		<h3 style="text-align:center;">Fire tilfældige <strong>Vandpibe Cafeer</strong></h3>
	</div>
</div>

<div id="slider" class="row" style="margin-top:10px">
	<%=javascript_tag do %>
		$(function() {
			$.get('<%=random_locations_path%>', function(response) {
				$('#slider').html(response);
			});
		})
	<% end %>
</div>

<div class="row">
	<div class="twelve columns text-center">
		<h4><small>På <strong>Vandpibe Cafe</strong> får du et oversigt over alle <strong>Vandpibe Cafeer</strong> i Danmark. Du kan deltag i debat omkring <strong>Vandpibe Tobak</strong>, <strong>Vandpibe Salg</strong>, <strong>Vandpibe Tilbehør</strong> eller andet. Vi er begyndt at sælge <strong>Vandpibe Slanger</strong>. Kontakt os for at hør nærmere. </small></h5>
	</div>
</div>

<%= javascript_tag do %>
	$(function() {
		init_map(0, 0)
	});
<% end %>