section#locations
	h1
		margin: $gutter
		font-weight: bold
		text-align: center
		font-size: 2em

	.header
		h3
			color: #fff
			text-align: center
			margin: $gutter/2 0px $gutter 0px

	.col-12
		ul#locations
			@include outer-container

			li
				background-color: #FFF

				@include media($mobile)
					margin-bottom: $gutter/3
					@include span-columns(6)
					@include omega(2n)

				@include media($desktop)
					margin-bottom: $gutter
					@include span-columns(3)
					@include omega(4n)

