/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */


.display-block { display:block; }

.red-color {color:#FF0040;}
.float-left { float:left;}
.float-right {float:right;}
.overflow-hidden {overflow: hidden;}

.white-background {background-color: #FFFFFF; }
.black-background { background-color: #000; }
.grey-background { background-color: #f2f2f2;}
.blue-background {background-color: #3085d6}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.font-size20 {font-size: 1.2em;}

.display-block {display: block;}
.no-padding {padding:0;}
.no-margin{margin:0;}
.no-padding-left {padding-left: 0; }

$directions: top right bottom left;
$sizes: 5 10 15 20 25 30;
$types: margin padding;

@each $type in $types {
	@each $pixel in $sizes {
		.#{$type}#{$pixel} {
			#{$type}: #{$pixel}px;
		}
	}
}

@each $type in $types {
	@each $direction in $directions {
		@each $pixel in $sizes {
			.#{$type}-#{$direction}#{$pixel} {
				#{$type}-#{$direction}: #{$pixel}px;
			}
		}
	}
}

.strong {font-weight: bold;}

.extend {width: 100%;}


.linear-gradient {
	vertical-align: middle;
	background: -moz-linear-gradient(left, #eeeeee 0%,#f8f8f8 2%);
	background: -webkit-linear-gradient(left, #eeeeee 0%,#f8f8f8 2%);
	background: -o-linear-gradient(left, #eeeeee 0%,#f8f8f8 2%);
	background: -ms-linear-gradient(left, #eeeeee 0%,#f8f8f8 2%);
	background: linear-gradient(right, #eeeeee 0%,#f8f8f8 2%);
}

.white-color {
	color: #FFF;
}

#map img { max-width: none; height: auto } 

li {list-style: none;}

footer {
	background-color: #000;
	color: #FFF;
	padding: 30px;
	line-height: 40px;

	h4, h5 {
		color: #FFF;
		margin-bottom: 15px;
	}	

	.copyright {
		font-size: .7em;
	}

}

footer.background {
	background: #000 url('/assets/footer-background.png') bottom repeat-x;
}

footer .wallpaper {
	/*background: url('/assets/footer-wallpaper.png') bottom no-repeat;*/
}

.navigation {
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(87%, #f7f7f7), color-stop(100%, #e2e2e2));
	background-image: -webkit-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: -moz-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: -o-linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	background-image: linear-gradient(#ffffff,#f7f7f7 87%,#e2e2e2);
	border-bottom: 1px solid #ccc;
	clear: both;
	padding-top: 15px;

	ul.sections {
		margin: 0;

		li {
			display: inline-block;
			list-style: none;
			text-align: center;
			vertical-align: middle;

			a {
				color: #000;
			}

			p {
				font-size: .6em;
				color: #57585c;
				width: 92px;
				padding: 0; margin: 0;
			}

			div	{
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(50%, #aaaaaa), color-stop(100%, #e2e2e2));
				background-image: -webkit-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: -moz-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: -o-linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				background-image: linear-gradient(top, #e2e2e2,#aaaaaa,#e2e2e2);
				-webkit-box-shadow: 1px 0 2px #fff;
				-moz-box-shadow: 1px 0 2px #fff;
				box-shadow: 1px 0 2px #fff;
				width: 1px;
				padding: 1.7em 0 0.35em;
				margin: 0.4em 0 0;
				padding: 0.9em 0;
			}
		}
	}

	span[class*="foundicon-"] {
		display: block;
		font-size: 20px;
	}

	.signin {
		margin-top:17px;
	}
	
	.login	{
		line-height: 80px;
	}
}