// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'modules/mixin'

body#cities
	div.show
		margin-bottom: $spacing * 2
		ul#locations 
			margin-top: $spacing
			li.location 
				@include outter-box(8px)

				.location-wrap 
					@include inner-box(8px, #f6f6f6)

					div.image 
						background-color: #fff
						-webkit-border-radius: 8px
						-moz-border-radius: 8px
						border-radius: 8px
						padding: 5px 5px 0px 5px

						img
							height: 150px
							width: 100%

					div.content 
						background-color: #FFF
						padding: 0px 10px 10px 10px

						h5
							margin: 0px 0px 4px 0px
							padding: 0
							a 
								color: #000
								font-weight: 400

						p
							height: 70px

						p, h6 
							font-size: 12px
							color: #75796f

					div.rating 
						padding: 10px 
						color: #75796f
						font-size: 11px
						border-top: 1px solid #d0d5cb

						strong
							margin-right: 5px
							color: #0b1902
				&:hover
					background-color: #b5d596



body#cities
	div.index
		div.row
			text-align: center

			h1
				margin-top: 50px
				font-size: 2.3em

			div.country-list 
				margin-bottom: 20px
				text-transform: uppercase
				font-weight: 400
				letter-spacing: 0.15em
				text-align: center
				margin-top: 20px

				span 
					color: #666
					padding: 0 1px 4px 1px
					margin: 0 10px
					border-bottom: 3px solid transparent
					outline: none

			div.city-list 
				line-height: 40px
				
				a
					-webkit-transition-property: color, background-color
					-webkit-transition-duration: 0.5s, 0.1s
					-webkit-transition-timing-function: ease-out, linear
					white-space: nowrap
					font-weight: 300
					font-size: 13px
					padding: 4px 10px
					color: #FFF
					background: transparent
					margin: 10px
					-webkit-border-radius: 4px
					-moz-border-radius: 4px
					-ms-border-radius: 4px
					-o-border-radius: 4px
					border-radius: 4px
					
					&:hover 
						color: #111
						background: #eee