$height: 130px

#navigation
	z-index: 500
	background-color: #fff
	width: 100%
	height: $height
	border-bottom: 1px solid #ccc

	ul.center
		position: absolute
		top: 10px
		left: 50%
		width: 235px
		margin-left: -117px
		height: 110px

		li.logo
			height: $height
			padding: 10px 0

			img
				width: 100%

	ul.right
		float: right
		width: 30%
		overflow: hidden

	ul.left
		float: left
		width: 30%
		overflow: hidden

		li
			height: $height
			line-height: 26px
			float: left
			width: 20%
			text-align: center
			padding-top: 34px
			color: #000

			&:last-child
				width: 25%

			i
				display: block

			span
				font-size: 11px
				font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif

			a:link, a:visited
				color: #000

			a:hover
				color: #ff0040

.subnavigation
	border-bottom: 1px solid #ccc
	background-color: #FFF
	height: 51px
	padding: 15px 0
	.row
		.center
			text-align: center
			line-height: 20px
