$height: 130px

#navigation
	z-index: 500
	background-color: #fff
	width: 100%
	height: $height

	.row
		position: relative

	ul.left, ul.center, ul.right
		position: absolute
		margin: 0
		padding: 0
		overflow: hidden
		top: 15px

	ul.center
		top: 10px
		left: 50%
		width: 235px
		margin-left: -117px
		height: 110px

		li.logo
			height: $height
			padding: 10px 0

			img
				width: 100%

	ul.right
		right: 0%
		width: 20%

	ul.left
		width: 30%
		overflow: hidden

		li
			height: $height
			line-height: 26px
			float: left
			width: 20%
			text-align: center
			padding-top: 34px

			i
				color: #000
				display: block

			span
				color: #000
				font-size: 11px
				font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif

.subnavigation
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	background-color: #FFF
	height: 51px
	padding: 15px 0
	.row
		.center
			text-align: center
