<div class="row">    
	<div class="eight columns push-four whitepage">
		<h3>Active spørgsmål</h3>
		
		<ul id="questions">
			<%= render @questions %>
		</ul>
		
		<%= will_paginate @questions %>
    </div>

    <%= render :partial => 'navigator' %>
</div>