section#place
	.row
		.columns
			h1 Hvor leder du efter en Vandpibe Café?

			h2 Brug felterne for at søg efter en specific Vandpibe Cafe.
			
			.search

			    div class="dropdown"
					select class="dropdown-select"
						option value="" Vælge land
						- @countries.each do |country|
							option value="#{country.id}" = country.name.big
			        
				div class="dropdown"
					select class="dropdown-select"
						option value="" Vælge by
						- @cities.each do |city|
							option value="#{city.id}" = city.name.big

			    button type="submit" class="large pink btn"
			    	i class="icon-cart" 
			    		= " Søg"

javascript:
	$(document).ready(function() {
		/*$('ul#cities li').hide();
		default_text = $('div.countries .title').text();
		height = "225px"

		$(".select.countries .title").click(function () {
			$(this).parent().toggleClass("closed");
		});

		$(".select.cities .title").click(function() {
			if ($('div.countries .title').text() == default_text) {
				alert('Du bedes først vælge land')
				return;
			}

			$('ul#cities').animate({height: height});
			( height == "225px" ? height = "0px" : height = "225px");
			$(this).parent().toggleClass("closed");
		});

		$(".select li").click(function () {
			id = $(this).attr('class')
			$('ul#cities li').hide();
			$('ul#cities li.' + id).show();
			$(this).parent().parent().toggleClass("closed").find(".title").text($(this).text());
		});*/
	});