= content_for(:title, 'Vandpibe Cafe ' + @city.name.big) 
= content_for(:meta_title, 'Vandpibe Cafe ' + @city.name.big) 
= content_for(:meta_description, "Find all Vandpibe Cafe i " + @city.name.big + ". Info omkring Åbningstider, Tobak, Vandpibe, Køb, Salg, osv.") 

= render 'locations'
