/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_directory .
  *= require_self
 */

.black-background { background-color: #000; }
.grey-background { background-color: #f2f2f2;}
.blue-background {background-color: #3085d6}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.font-size20 {font-size: 1.2em;}

.display-block {display: block;}

.padding-bottom30 {padding-bottom: 30px;}
.padding-bottom10 {padding-bottom: 10px;}
.padding-bottom5 {padding-bottom: 5px;}

.padding-top5 {padding-top: 5px;}
.padding-top20 {padding-top: 20px;}
.padding-top10 {padding-top: 10px;}

.strong {
	font-weight: bold;
}

.margin-top10 {margin-top:10px;}

.margin-bottom30 {margin-bottom: 30px;}
.margin-bottom20 {margin-bottom: 20px;}
.margin-bottom15 {margin-bottom: 15px;}
.margin-bottom10 {margin-bottom: 10px;}
.margin-bottom5 {margin-bottom: 5px;}

.red-color {color: #FF0040;}
#comments li {
	margin:0px;
	padding:0px;
	list-style:none;
}

.pagination {
	margin-bottom:20px;
	text-align:center;
}

.no-top-margin {
	margin-top:0px;
}

.no-margin-bottom {
	margin-bottom:0px;
}

.margin-top-ten {
	margin-top:10px;
}

.sixteen-line-height {
	line-height:20px;
}

.field_with_errors input, .field_with_errors textarea {
	border:2px solid #FF0040;
}

li.spacer_template {
	margin:0px;
	padding:0px;
}

li {
	list-style:none;
}

.text-center {
	text-align:center;
}

#notify h4 {
	padding:0px;
	margin:0px 0px 6px 0px;
}
#notify h5 {
	padding:0px;
	margin:4px 0px 4px 0px;
}
#notify h6 {
	padding:0px;
	margin:0px;
}

footer {
	margin-top:20px;
	background-color:#000;
	color:#666;
	padding:20px;
	font-weight:bold;
}

footer h5 {
	color:#FFF;
}

footer a:link, footer a:visited {
	color:#666;
}

footer a:hover {
	color:#FFF;
}

footer .content {
	margin-bottom:20px;
}
