// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#location_comments {
	li {
		list-style:none;
	}
		
	li .eight {
		padding-left:0px;
		
		p {
			padding-right:14px;
		}
	}
	
	hr {
		margin:0px;
		margin-right:15px;
		border-top:1px solid #000;
	}
}

ul.tabs-content li.spacer {
	padding:0px;
}

#hint_comment_rate_service {
	padding-left:5px;
}

input.boolean {
	margin-right:5px;
}