// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar_url {
	width:32px;
	height:30px;
	margin-bottom:-10px;
}
/*
.top-bar ul li a {
	border-right:1px solid #e0e0e0;
}

.left-border {
	border-left:1px solid #e0e0e0;
}

.top-bar ul li a.remove-right-border {
	border-right:none;
}*/