$spacing: 15px

.products-header
	@include outer-container
	padding: $spacing*2 0
	h1
		font-size: 2em

ul#products
	@include outer-container
	padding-bottom: $spacing*2

	a.product
		width: 25%
		float: left
		display: block
		border: 1px solid #CCC
		margin: -1px 0px 0px -1px

		&:hover li
			border-color: #FF2A00

		li
			padding: $spacing
			border: 10px solid #FFF

			.image

			.details
				margin: $spacing*2 0
				color: #000
				text-align: center
				min-height: 114px

				.title
					margin-bottom: $spacing
					font-size: 18px
					text-transform: uppercase
					letter-spacing: 1px

				.price
					font-weight: 400

			.button
				background: #000
				margin: 0
				font-size: .8em
				text-transform: uppercase

				form
					border: 0
					z-index: 100
					width: 100%

				&:hover 
					background: #1dafed


@mixin cart
	.foundicon-remove
		position: absolute
		right: $spacing*1.5
		top: $spacing*1.5
		color: #FFF
		cursor: pointer
		font-size: 1.5em

	.large-3
		text-align: center

		.total
			padding: 10px 4px
			font-weight: 300
			font-size: .8em
			color: #FFF

		.price
			color: #FFF
			font-size: 2.5em
			font-weight: bold
			padding: 5px 0px $spacing 0px

	table
		width: 100%

		th, td
			padding: 10px 4px
			border-bottom: 1px solid #474747

		thead
			padding: 10px 0
			text-transform: uppercase

			th
				font-weight: 300
				width: 40%
				font-size: .8em
				color: #FFF
				text-align: center

			.title
				width: 55%
			.quantity
				width: 20%
			.price
				width: 15%
			.remove
				width: 10%

		tbody
			th
				text-align: left
				font-size: 1.8em
			td
				text-align: center
				font-size: 1.6em
				vertical-align: top

				&.quantity
					-webkit-touch-callout: none
					-webkit-user-select: none
					-khtml-user-select: none
					-moz-user-select: none
					-ms-user-select: none
					user-select: none
					
					.icon-plus, .icon-minus
						margin: 0px $spacing

				.icon-plus, .icon-minus, .icon-cancel-circle
					cursor: pointer


div#checkout 
	margin: 15px 0

	.container
		padding: 30px 0
		background-color: #000
		
	@include cart

div#cart
	z-index: 3000
	display: none
	
	.overlay
		position: fixed
		left: 0px
		top: 0px
		right: 0px
		bottom: 0px
		background-color: white
		opacity: .7
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
		filter: alpha(opacity=50)
		z-index: 3000
	
	.container
		position: fixed
		top: 30%
		width: 100%
		z-index: 3001
		background-color: #000
		padding: 30px 0

	@include cart

#ordre
	@include outer-container
	margin-bottom: 30px

	label, input
		float: left
	
	label
		width: 30%
		line-height: 30px

	input, select
		width: 70%

	select
		margin-top: 5px

	.input
		clear: both

	.ordre_post
		width: 50%
		float: left

		label
			width: 60%

		input
			width: 40%

	.ordre_city
		clear: none
		width: 50%
		float: left

		label
			display: none

		input
			margin-left: 1%
			width: 99%

	.ordre_phone
		clear: both
