li.location
	position: relative
	cursor: pointer
	@include box-shadow(0 0 5px #ddd)
	@include box-sizing(border-box)
	background: #fff
	border-radius: 3px

	.link
		position: absolute
		top: 0px
		left: 0px
		right: 0px
		bottom: 0px
		z-index: 5

	.image
		border-radius: 3px
		img
			border-radius: 3px
			-webkit-transition: opacity 0.15s linear
			-moz-transition: opacity 0.15s linear
			transition: opacity 0.15s linear
			height: 160px
			width: 100%
			display: block


	.details
		padding: 10px

		h3.name
			margin: 0px 0px 4px 0px
			padding: 0
			font-weight: 600
			color: #000
			text-overflow: ellipsis

		.description
			height: 50px
			color: #9f9f9f

			@include media($mobile)
				display: none

		.options
			border-top: 1px solid #ccc
			padding-top: 10px
			overflow: hidden
			.city
				color: #000
				font-size: 12px
				float: left
			.rating
				float: right
