<% if logged_in? %>
	<a class="success button" data-reveal-id="comment-modal" href="#">Bedøm Selv</a>
<% else %>
	<p>Du skal være logget på for at bedømme <strong><%=@location.name.big %> Vandpibe Cafe</strong>.</p>

	<%= link_to image_tag('facebook-login.png'), "/auth/facebook" %>
<% end %>