<h1>Vandpibe Cafe</h1>

<p>Hos Vandpibe Cafe kan du se oversigt over alle Vandpibe Cafeer i hele Danmark. Du kan også gå ind på Debat sektion og være med til at hjælpe andre eller stille et spørgsmål omkring <strong>Vandpibe Tobak</strong>, <strong>Vandpibe Shop</strong>, <strong>Vandpibe Køb</strong> eller andet. Vi har besøgt de fleste Vandpibe Cafeer i Danmrk og derfor har vi lavet en liste af de bedste Vandpibe Steder.</p>

<ul class="byer">
	<%=render @cities%>
</ul>