<% content_for(:title, 'Vandpibe Cafe ' + @city.name.big) %>
<% content_for(:meta_title, 'Vandpibe Cafe ' + @city.name.big) %>
<% content_for(:meta_description, "Oversigt over alle Vandpibe Cafeer i " + @city.name.big + ". Info omkring Åbningstider, Tobak, Vandpibe, Bedste Cafe, osv.") %> 
<h1><%= link_to 'Vandpibe Cafe ' + @city.name.big, city_path(@city.name), :alt => "Vandpibe Cafe " + @city.name.big %></h1>

<ul class="vandpibe_cafeer">
	<%=render :partial => '/locations/div_location', :collection => @city.locations, :as => :location %>
</ul>

<ul class="byer">
	<%=render @cities%>
</ul>
