%footer
  .wrapper
    .top
      .row
        .welcome
          %h2 Vandpibe Cafe
          %p På VandpibeCafe.dk vil du finde oversigt over alle Vandpibe Caféer i Danmark. Men som I allerede har lagt mærke til, er vi begyndt med at lægge Vandpibe Cafeer, som ligger i Sverige og Tyskland, og det vil vi fortsætte med. I fremtiden vil vi begynde med sælge Vandpibe Slanger, Vandpibe Hoveder og andet Tilbehør til Vandpiber. I Debat sektionen er alle velkommen til at deltage. Her har i har f.eks. mulighed for at få hjælp til at gøre en Vandpibe klar, eller hvad man nu har i tankerne.

        .addhookah
          %h3 Er der en café som ikke er på siden?
          = link_to "Kontakt os over Facebook", "https://www.facebook.com/vandpibecafe.dk", :target => "_blank", :class => "button"
          %p Og vi vender hurtigt tilbage til dig!
    .bottom
      .row
        .columns.bottom © 2012 - 2013 VandpibeCafe, All rights reserved.
