header id="navigation" class=('front' if current_page?(root_path))
	.row
		ul
			li.logo
				a href="#{root_url}"
					=image_tag('logo4.png', :alt => "VandpibeCafe.dk")
			li.spot
				a href="#{root_url}"
					i class="icon-home"
					span Hjem
			li.spot
				a href="#{store_path}"
					i class="icon-cart"
					span Køb
			li.spot
				a href="#{toplist_path}"
					i class="icon-bars"
					span Topliste
			li#login.login

javascript:
	$(function() {
	  $.get('#{authjs_path}', function(data) {
	    $('#login').html(data)
	  });
	})